# Print Statement

- in print statement having 3 types of print statment.
  
-     Basic method
-     'format' string method
-     'f' string method

- "sep" is use the seperate the multipal lines of same print statement.
- "end" is combine the multipal print statement

In [2]:
print(20)

20

In [3]:
print('Python')

Python

In [11]:
a=print(1)
print(a)

1
None

In [15]:
print(10,20,30,'mohit bele', True)

10 20 30 mohit bele True

In [16]:
print(10),print(30),print(50)

10
30
50

(None, None, None)

In [17]:
print(10,20,30)
print(10),print(20)

10 20 30
10
20

(None, None)

10,20

In [19]:
n1=10
n2=20
n1,n2

(10, 20)

In [22]:
a=100
b=200
c=a+b
print('the add  10 and 20 is 30')
print("the addition of",a,"and",b,"is",c)

the add  10 and 20 is 30
the addition of 100 and 200 is 300

In [26]:
print('The add {} and {} is {}'.format(a,b,c))

The add 100 and 200 is 300

In [28]:
print(f'the add {a} and {b} is {c}')

the add 100 and 200 is 300

In [29]:
print(10,20,30,sep='\n')

10
20
30

In [3]:
name='mohit'
work='learn'
what='Data Science'

# basic method
print(name,'is',work,'the',what)

# format method
print('{} is {} the {}'.format(name,work,what))

# f string method
print(f'{name} is {work} the {what}')

mohit is learn the Data Science
mohit is learn the Data Science
mohit is learn the Data Science

**sep**

In [7]:
print(10, 20 , 30,sep='--------->')

10--------->20--------->30

**end**

In [8]:
print(10)
print(20)
print(30)

10
20
30

In [10]:
print(10,end='-')
print(20,end='-')
print(30,)

10-20-30