## Type Casting

# General Syntax,
#           New_Variable=Data_Type(Old_Variable)

          - Data_Type = in which we can convert the Old_Variable type.
          - old_Variable = variable convert into anther type.
          - New_Variable = Converted value store into that variable.

In [1]:
num=100
a=float(num)
a

100.0

In [2]:
b=120.25
c=int(b)
c

120

In [3]:
print(type(num))
print(type(a))

<class 'int'>
<class 'float'>

# int ----> float , str , bool.

In [4]:
a=1000
print(type(a))

<class 'int'>

In [5]:
b=float(a)
print(b)
print(type(b))

1000.0
<class 'float'>

In [6]:
c=str(a)
print(type(c))
c

<class 'str'>

'1000'

In [7]:
d=bool(a)
print(type(d))
d

<class 'bool'>

True

# float----> int, str , bool

In [8]:
num2=100.25
print(type(num2))

<class 'float'>

In [9]:
ab=int(num2)
print(type(ab))
ab

<class 'int'>

100

In [10]:
ac=str(num2)
print(type(ac))
ac

<class 'str'>

'100.25'

In [11]:
ad=bool(num2)
print(type(ad))
ad

<class 'bool'>

True

# str-----> int, float,bool

In [12]:
# case-1:
num3='mohit'
print(type(num3))
num3

<class 'str'>

'mohit'

In [13]:
ba=int(num3)
print(type(ba)) 
ba
# note :- string not convert into the int

ValueError: invalid literal for int() with base 10: 'mohit'

In [14]:
bb=float(num3)
print(type(bb))
bb
# note :- string is not conver into float also.

ValueError: could not convert string to float: 'mohit'

In [15]:
nv=bool(num3)
print(type(nv))
nv
# string is only convet into bool only 'string' == True and '' == False.

<class 'bool'>

True

In [16]:
# case - 1:
str = 'apple'
# case - 2:
str1 ='10'
# case - 3:
str2 ='10.5'

In [17]:
a1=int(str) # error
a2=int(str1) # pass
a3=int(str2) # error whit 10 only .5 remove

ValueError: invalid literal for int() with base 10: 'apple'

In [18]:
a1=int(str) # error

ValueError: invalid literal for int() with base 10: 'apple'

In [19]:
a2=int(str1) # pass
a2

10

In [20]:
a3=int(str2) # error

ValueError: invalid literal for int() with base 10: '10.5'

In [21]:
a4=float(str) # error
a5=float(str1) # pass with add .0
a6=float(str2) # pass

ValueError: could not convert string to float: 'apple'

In [22]:
a7=bool(str) # pass
a8=bool(str1) # pass
a9=bool(str2) # pass

# bool-----> int, float, str.

In [23]:
num4=True
print(type(num4))
num4

<class 'bool'>

True

In [24]:
cc=int(num4)
print(type(cc))
cc
# bool convert int into only form of True = 1 and False = 0.

<class 'int'>

1

In [25]:
ca=float(num4)
print(type(ca))
ca
# bool is also convert into float value in the form of True = 1.0 and False = 0.0.

<class 'float'>

1.0

In [26]:
num4=True
str(num4)

TypeError: 'str' object is not callable

In [27]:
num4=True
cd=str(num4)
print(type(cd))
cd
# bool is converted in to string also.

TypeError: 'str' object is not callable

In [28]:
cd=str(True)

TypeError: 'str' object is not callable

In [29]:
int(False)

0

In [30]:
float(False)

0.0

In [31]:


str(False)

TypeError: 'str' object is not callable

In [32]:
int(True)

1

In [33]:
float(True)

1.0

In [34]:
str(True)

TypeError: 'str' object is not callable

In [35]:
bool(0.00100)

True

# int -----> float ,str ,bool

In [2]:
a=100
print(type(a))

<class 'int'>

In [3]:
ib=float(a)
print(ib)
print(type(ib))

100.0
<class 'float'>

In [4]:
ic=str(a)
print(ic)
print(type(ic))
ic

100
<class 'str'>

'100'

In [5]:
id=bool(a)
print(id)
print(type(id))

True
<class 'bool'>

# float -----> int ,str ,bool

In [6]:
fa=100.25
print(type(fa
          ))

<class 'float'>

In [8]:
fb=int(fa)
print(fb)
print(type(fb))

100
<class 'int'>

In [9]:
fc=str(fa)
print(fc)
print(type(fc))
fc

100.25
<class 'str'>

'100.25'

In [10]:
fd=bool(fa)
print(fd)
print(type(fd))

True
<class 'bool'>

# str -----> int ,float ,bool

In [11]:
# Case - 1
str='100'
# Case - 2
str1='100.25'
# Case - 3
str2='apple'

# str -----> int

In [14]:
# case-1
sia=int(str)
print(sia)
print(type(sia))

100
<class 'int'>

In [15]:
# case-2
sib=int(str1)
print(sib)
print(type(sib))

ValueError: invalid literal for int() with base 10: '100.25'

In [16]:
# case-3
sic=str(str2)
print(sic)
print(type(sic))

TypeError: 'str' object is not callable

# str -----> float

In [18]:
# Case - 1
str='100'
# Case - 2
str1='100.25'
# Case - 3
str2='apple'

In [19]:
# case-1
sfb=float(str)
print(sfb)
print(type(sfb))

100.0
<class 'float'>

In [20]:
# case-2
sfc=float(str1)
print(sfb)
print(type(sfb))

100.0
<class 'float'>

In [21]:
sfd=float(str2)
print(sfd)
print(type(sfd))

ValueError: could not convert string to float: 'apple'

# str -----> bool

In [23]:
sbb=bool(str)
print(sbb)
print(type(sbb))

True
<class 'bool'>

In [25]:
sbc=bool(str1)
print(sbc)
print(type(sbc))

True
<class 'bool'>

In [26]:
sbd=bool(str2)
print(sbd)
print(type(sbd))

True
<class 'bool'>

# bool -----> int, float ,str

In [2]:
ba=True
bb=False

In [31]:
bct=int(ba)
print(bct)
print(type(bct))

1
<class 'int'>

In [32]:
bcf=int(bb)
print(bcf)
print(type(bcf))

0
<class 'int'>

In [33]:
bdt=float(ba)
print(bdt)
print(type(bdt))

1.0
<class 'float'>

In [35]:
bdf=float(bb)
print(bdf)
print(type(bdf))

0.0
<class 'float'>

In [6]:
bet=str(ba)
print(bet)
print(type(bet))
bet

True
<class 'str'>

'True'

In [5]:
bef=str(bb)
print(bef)
print(type(bef))
bef

False
<class 'str'>

'False'

In [7]:
bool('')

False

In [8]:
bool(0)

False